/* body {
  font-family: "Montserrat", sans-serif !important;
} */

.btn-success {
  background-color: #4eb883 !important;
  border-color: #4eb883 !important;
}

.btn-success:hover {
  background-color: #44a072 !important;
  border-color: #44a072 !important;
}

.badge-success {
  background-color: #4eb883 !important;
  border-color: #4eb883 !important;
}
